/* .form-wrapper, .link-wrapper {
    padding: 20px 30px;
}
button {
    display: block;
    margin-top: 10px ;
    padding: 10px 20px;
    background-color: blue;
    color: white
}
button:hover {
    background-color: rgb(0, 128, 255);
    color: black;
    cursor: pointer;
}

button:active {
    background-color: yellow;

}
input {
    padding: 5px 10px;
    border: 1px solid black;
    outline: none;
}
/* input:disabled {
    background-color: beige; */
/* .input-checkbox.checkbox {

    height: 20px;
    width: 20px;
    opacity: 0.5;
}

input:focus {
    border: 3px solid green;
}
a {
    display: block;
    font-size: 18px;
    color: black;
    text-decoration: none;
}
a:link {
    color: blueviolet;
}

a:visited {
    color: orange;
}

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-weight: bold;
    color: red;
}

li:nth-child(2n) {
    font-weight: bold;
    color: purple; */

/* .input-checkbox {
  display: none;
}

.checkbox-style {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  position: relative;
}

.input-checkbox:checked + .checkbox-style {
  border: 2px solid green;
} */

/* li:nth-of-type() */ 

.decorated::first-letter {
    font-size: 200%;
    color: green;
}

.decorated::first-line {
    font-size: 200%;
    color: plum;
}
.addition-element {
    font-size: large;
    margin: 20px;
}
.addition-element::before {
    content: "\2605";
    color: red;
}
.addition-element::after{
    content: "\2605";
    color: blue;
}

.text-with-line {
    text-align: center;
    font-size: 20px;
    position: relative;
}
.text-with-line::before, .text-with-line::after {
    content: n;
    height: 2px;
    width: 50px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(-50%);

}
.text-with-line::before{
    left: 0;
}
.text-with-line::after {
    right: 0;
}